*,::before,::after{
    @include reset;
}

body {
    @include body;
}

.header-titre{
    height: 60px;
    font-family: $police-titre;
    @include flexMid(flex,center,center,row);
    position: relative;
    
    a{
        position: absolute;
        left: 15px;
        color: black;
    }
}
img {
    width: 100%;
    @include betweenTabAndLaptop{
        height: 70vh;
        object-fit:cover;
    }
}
main {
    background: $bg-lightgray;
    height: 1000px;
    margin-top: -40px;
    @include laptop {
        height: 70%;
    }
}


.titre-bloc{
    font-size: 10px;
    font-weight:normal;
    width: 95%;
    background: $bg-lightgray;

    h2{
        margin-left: 20px;
        @include laptop{
            text-align: center;
            margin-left: 0;
        }
    }

    h2::after{
        content:'';
        display: block;
        width: 40px;
        border-bottom: 3px solid $third-color;
        @include laptop {
            margin: 0 auto;
        }
    }
}

.bloc-containers{
    @include flexMid(flex,center,center,column);
}
.sous-titre{
    @include flexMid(flex,center,space-around,row);
    font-family: $police-titre;
    font-size: 13px;
    width: 100%;
    height: 100px;
    background: $bg-lightgray;
    border-radius: 30px 30px 0 0;
    @include tablette{
        position: relative;
        display:block;
    }
    h1{
        @include tablette{
            text-align: center;
            margin-top: 20px;
        }
    }
}
.fa-heart{
    @include tablette{
        position: absolute;
        top: 40px;
        right: 15px;
    }
}

.bloc-cards {
    @include laptop{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}
.card {
    @include cards-menu;
    margin: 10px auto 10px;

    h3{
        font-size: 16px;
        font-weight: bold;
    }

    p{
        @include flexMid(flex,center,space-between,row);
        margin-top: 8px;
        font-weight:300;
        font-size: 12px;

        span{
            font-size: 14px;
            font-weight: bold;
        }
    }
}
button {
    @include buttonMenu();
    color: white;
    display: block;
    margin: 30px auto 30px;
    &:hover{
        opacity: 0.8;
    }
}

footer{
    @include footer();

    h2 {
        font-size: 18px;
        margin-bottom: 5px;
    }
       
    .contact{
        @include flexMid(flex,initial,space-around,column);
        @include contact();
        @include laptop{
            @include flexMid(flex,center,space-around,column);
        }
        a {
            color: white;
            font-family: Roboto ,sans-serif;
            text-decoration: none;
        }
        
        i{
            margin-right: 5px;
            
        }
        
    }
}
