*,::before,::after{
    @include reset;
}

body {
    @include body;
}
  

.header-titre{
    height: 60px;
    font-family: $police-titre;
    @include flexMid(flex,center,center,row);
    position: relative;
    
    a{
        position: absolute;
        left: 15px;
        color: black;
    }
}
img {
    width: 100%;
    @include betweenTabAndLaptop{
        height: 70vh;
        object-fit:cover;
        o-object-fit:cover;
    }
}
main {
    background: $bg-lightgray;
    height: 1000px;
    margin-top: -40px;
    @include laptop {
        height: 70%;
    }
}


.titre-bloc{
    font-size: 10px;
    font-weight:normal;
    width: 95%;
    background: $bg-lightgray;

    h2{
        margin-left: 20px;
        @include laptop{
            text-align: center;
            margin-left: 0;
        }
    }

    h2::after{
        content:'';
        display: block;
        width: 40px;
        border-bottom: 3px solid $third-color;
        @include laptop {
            margin: 0 auto;
        }
    }
}

.bloc-containers{
    @include flexMid(flex,center,center,column);
}
.sous-titre{
    @include flexMid(flex,center,space-around,row);
    font-family: $police-titre;
    font-size: 13px;
    width: 100%;
    height: 100px;
    background: $bg-lightgray;
    border-radius: 30px 30px 0px 0px;
    @include tablette{
        position: relative;
        display:block;
    }
    h1{
        @include tablette{
            text-align: center;
            margin-top: 20px;
        }
    }
}
.fa-heart{
    @include heartIcon;
    @include tablette{
        position: absolute;
        top: 40px;
        right: 15px; 
    }
}
.heart-fill {
    @include gradientHeart;
}

.fa-solid:active{
    opacity: 1;
}

.bloc-cards {
    @include laptop{
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
}
.card {
    @include cards-menu;
    margin: 10px auto 10px;
    animation: apparition $anim-speed;
    @for $i from 1 through 5{
        &:nth-child(#{$i}){
            animation-delay: $i * 0.2s;
        }
    }

    h3{
        font-size: 14px;
        font-weight: bold;
    }

    p{
        font-weight:300;
        font-size: 12px;

        span{
            font-size: 14px;
            font-weight: bold;
        }
    }
}



.card-description {
    @include cardDescription;

    .txt {
        width: auto;
        @include flexMid(flex,center,normal,row);
        margin-top: 5px;

        span {
            position: absolute;
            right: 5px;
            -webkit-transition: -webkit-transform 0.4s;
            transition: -webkit-transform 0.4s;
            -o-transition: transform 0.4s;
            transition: transform 0.4s;
        }
    }
}


.anim-card {
    @include anim-card;

    .fa-solid {
        @include iconInsideAnimCard;
    }
}

.card:active span {
    -webkit-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    transform: translateX(-50px);
}

.card:active .anim-card {
    -webkit-animation: animationCard 0.6s;
    animation: animationCard 0.6s;
    opacity: 1
}

.card:active .fa-solid {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}


.card:active p{
    white-space: nowrap;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    max-width: 60%;
    overflow: hidden;
}

button {
    @include buttonMenu();
    color: white;
    display: block;
    margin: 30px auto 30px;
    &:hover{
        opacity: 0.8;
    }
}

footer{
    @include footer();

    h2 {
        font-size: 18px;
        margin-bottom: 5px;
    }
       
    .contact{
        @include flexMid(flex,initial,space-around,column);
        @include contact();
        @include laptop{
            @include flexMid(flex,center,space-around,column);
        }
        a {
            color: white;
            font-family: Roboto ,sans-serif;
            text-decoration: none;
        }
        
        i{
            margin-right: 5px;
            
        }
        
    }
}
@include keyframes(animationCard){
    from {
        -webkit-transform: translateX(35px);
        -ms-transform: translateX(35px);
        transform: translateX(35px);
    }
    to {
        -webkit-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@include keyframes(apparition){
    from {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}

