*,::before,::after{
    @include reset;
}

body {
    @include body;
}

.header-titre{
    height: 60px;
    font-family: $police-titre;
    @include flexMid(flex,center,center,row);
    position: relative;
    
    a{
        position: absolute;
        left: 15px;
        color: black;
    }
}
img {
    width: 100%;
}
main {
    background: $bg-lightgray;
    height: 900px;
    // margin-top: -10px;
    // z-index: 10;
}


.titre-bloc{
    font-size: 10px;
    font-weight:normal;
    width: 95%;

    h2::after{
        content:'';
        display: block;
        width: 40px;
        border-bottom: 3px solid $third-color;
    }
}

.bloc-containers{
    @include flexMid(flex,center,center,column);
}
.sous-titre{
    @include flexMid(flex,center,space-around,row);
    font-family: $police-titre;
    font-size: 13px;
    width: 100%;

    img{
        width: 20px;
    }
}
.card {
    @include cards-menu;
    margin: 10px auto 10px;

    h3{
        font-size: 16px;
        font-weight: bold;
    }

    p{
        @include flexMid(flex,center,space-between,row);
        margin-top: 8px;
        font-weight:300;
        font-size: 12px;

        span{
            font-size: 14px;
            font-weight: bold;
        }
    }
}
button {
    @include buttonMenu();
    color: white;
    display: block;
    margin: 30px auto 30px;
}

footer {
    @include footer();

    a{
        @include flexMid(flex,initial,initial,initial);
        @include contact();
        
        i{
            margin-right: 5px;
            
        }
        
    }
}
