*,::before,::after{
    @include reset;
}
body{
    @include body;
}
header {
    @include flexMid(flex,center,center,column);
    height: 400px;
    .localisation{
        margin-top: 20px;
        background: rgb(234, 234, 234);
        width: 100%;
        height: 44px;
        text-align: center;
        @include flexMid(flex,center,center,row);
        .fa-location-dot{
            margin-right: 10px;
        }
    }
}
.reservation{
    @include flexMid(flex,center,space-evenly,column);
    height: 260px;
    width: 100%;
    text-align:center;
    background:rgb(246, 246, 246) ;
    h1{
        font-size: 24px;
        width: 80%
    }
    p{
        font-family: normal;
    }
    button{
        @include buttonMenu;
        margin-bottom: 20px;

        a{
            text-decoration: none;
            color: white;
            font-weight: 550;
        }
    }
}

.reservation button:hover {
    opacity: 0.8;
}

.fonctionnement{
    height: 300px;
    @include flexMid(flex,center,space-evenly,column);

    h2{
        width: 80%;
        @include large-mobile{
            text-align: center
        }
    }
    button{
        @include buttonFunctioning;
        max-width: 300px;
        position: relative;


        a{
            @include flexMid(flex,center,space-evenly,row);
            text-decoration: none;
            color: black;
            font-weight: 550;
            position: relative;

            i{
                color: grey;
            }
        }
    }
}

.fonctionnement button:hover{
    background-color: rgba($primary-color, 0.2);

    i {
        color: $primary-color
    }
    
}

.mini-circle{
    @include numeroCircle;
    @include flexMid(flex,center,center,initial)
}
.cards-container{
    @include flexMid(flex,center,space-around,column);
    height: auto;
    padding: 40px 0;
    background: $bg-lightgray;
    h2 {
        width: 80%;
        margin-bottom: 20px;
        @include large-mobile{
            text-align: center
        }
    }
     img{
        @include images;
    }
}

.card{
    margin: 10px auto;
    height: 30%;
    width: 80%;
    max-width: 400px;
    position: relative;
   

    .bloc-new{
        position: absolute;
        top: 15px;
        right: 15px;
        color: rgb(31, 135, 102);
        background: $third-color;
        padding: 5px;
        font-size: 14px;
    }
}


.info-cards{
    @include flexMid(flex,initial,initial,column);
    background:white;
    border-radius: 0 0 10px 10px;
    height: 60px;
    position: relative;
    margin-top: -5px;
    padding: 5px 0;

     img{
        width: 20px;
        height: 20px;
        position: absolute;
        right: 15px;
        top: 15px;
    }

    a{
        margin-left: 10px;
        margin-top: 5px;
        text-decoration: none;
        &:visited{
            color: black;
        }
    }
}

.info-cards .fa-heart{
    @include heartIcon;
    & {
        color: red;
    }
}
.info-cards h3 {
    font-weight: 400;
    font-size: 18px;
}
.info-cards p {
    font-family: normal;
}

footer{
    @include footer();

    h2 {
        font-size: 18px;
        margin-bottom: 5px;
    }
       
    .contact{
        @include flexMid(flex,initial,space-around,column);
        @include contact();
        @include laptop{
            @include flexMid(flex,center,space-around,column);
        }
        a {
            color: white;
            font-family: Roboto ,sans-serif;
            text-decoration: none;
        }
        
        i{
            margin-right: 5px;
            
        }
        
    }
}
