@mixin reset{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@mixin body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
@mixin flexMid($display,$align,$justify,$direction){
    display: $display;
    align-items: $align;
    justify-content: $justify;
    flex-direction:$direction ;
}
@mixin buttonMenu{
    border-radius: 60px;
    font-weight: bold;
    color: white;
    height: 50px;
    width: 70%;
    max-width: 240px;
    border: none;
    background: linear-gradient(#FF79DA,#9356DC);
    box-shadow: $box-shadow;
    cursor: pointer;
}


@mixin buttonFunctioning{
    width: 80%;
    max-width: 400px;
    height: 60px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    background: $bg-lightgray;
    box-shadow: $box-shadow;

}

@mixin cards-menu{
    width: 300px;
    height: 60px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    background: white;
    box-shadow: $box-shadow;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

@mixin anim-card {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20%;
    height: 100%;
    border-radius: 0 15 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:$third-color;
    opacity: 0;
}

@mixin iconInsideAnimCard {
    color: $third-color;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.6s;
}

@mixin cardDescription {
    width: auto;
    position: relative;
    height: 100%;
    font-size: 16px;
}

@mixin numeroCircle{
    position: absolute;
    left: -10px;
    background:$primary-color;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

@mixin heartIcon {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 18px;
    cursor: pointer;
}
@mixin gradientHeart {
    color: transparent;
    background-image: linear-gradient($primary-color,$secondary-color);
    background-clip: text;
    -webkit-background-clip:text;
    opacity: 0;
    transition: opacity 0.7s;
}

@mixin images{
    width: 100%;
    height: 160px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    object-position: center;
    
}


@mixin footer{
    background: rgb(54, 54, 54);
    padding-left: 15px;
    padding-top: 10px;
    font-family: 'Shrikhand', cursive;
    color: white;
    margin-bottom: 5px;
    height: 160px;
}
@mixin contact{
    text-decoration: none;
    color: white;
    font-size: small;
    height: 80%;
}
@mixin large-mobile{
    @media screen and (min-width:map-get($breakpoints,largemobile)) {
        @content;
    }
}
@mixin tablette{
    @media screen and(min-width:map-get($breakpoints,tablette)) {
        @content;
    }
}
@mixin betweenTabAndLaptop{
    @media screen and(min-width:map-get($breakpoints,betweenTabAndLaptop)) {
        @content;
    }
}
@mixin laptop{
    @media screen and(min-width:map-get($breakpoints,laptop)) {
        @content;
    }
}
@mixin animate($animation,$duration,$method,$times){
    animation: $animation $duration $method $times;
}

@mixin keyframes($name){
    @keyframes #{$name} {
        @content;
    }
}