$primary-color:#9356DC;
$secondary-color:#FF79DA;
$third-color:#99E2D0;
$bg-lightgray:rgb(246,246,246);
$box-shadow: 2px 2px 8px -3px rgba(0,0,0,0.75);
$police-titre:Shrikhand,sans-serif;
$breakpoints:(
    largemobile: 450px,
    tablette:750px,
    laptop:1024px
)